.db-browser-card {
    position: absolute;

    transition: top 0.25s ease-in, height 0.25s ease-in;

    > .mat-card {
        height: 100%;
        overflow-y: hidden;
    }

    button[mat-flat-button],
    .btn-toggle-expand {
        width: 100%;
        text-align: left;
    }

    tr {
        height: 36px;
    }
}