.db-browser-link {
    position: absolute;
    min-height: 1px !important;

    svg {
        width: 100%;
        height: 100%;

        path,
        line {
            stroke: black;
            stroke-linejoin: round;

            fill: none;
        }
    }
}